<h1>Assignment <%= @assignment.id %></h1>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Assignment Type ID</th>
    <th>Course ID</th>
  </tr>
  <tr>
    <td><%= @assignment.name %></td>
    <td><%= @assignment.assignment_type_id %></td>
    <td><%= @assignment.course_id %></td>
  </tr>
</table>
